%div.grid_16
  - @github.repositories.each do |repo_p|
    - if repo_p.issues.count > 0
      %div.repo
        %h2= link_to repo_p.name, repo_p.url
        - repo_p.issues.each do |issue|
          %div.issue
            %h3
              %span.issue_number= "#{issue.number}"
              = link_to issue.title, issue.url
              = issue.user
              = issue.edited_at.strftime("%d/%m/%Y %H:%M")
              - issue.labels.each do |label|
                %span.labels= link_to label, "https://github.com/#{repo_p.owner}/#{repo_p.name}/issues/labels/#{label}"
            %div.comments
              - if issue.comments
                - issue.comments.each do |comment|
                  %div.comment
                    %p
                      %span.comment_user= comment.user + " says : "
                      =comment.body